<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/tce.png" class="img-responsive img-centered client-logo" alt="TCEPR">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/ilha.png" class="img-responsive img-centered client-logo" alt="IlhaService">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/inmetro.png" class="img-responsive img-centered client-logo" alt="INMETRO">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/ebserh.png" class="img-responsive img-centered client-logo" alt="EBSERH">
            </div>
        </div>
    </div>
</aside>
