<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre a iTechBridge</h2>
                <h3 class="section-subheading text-muted">Especialistas em soluções tecnológicas avançadas para desafios complexos em TI e redes.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="team-member">
                    <img src="img/team/gabriel.jpg" class="img-responsive img-circle" alt="Gabriel Aguiar">
                    <h4>Gabriel Aguiar</h4>
                    <p class="text-muted">Fundador e Engenheiro Eletrônico com sólida experiência em redes inteligentes, sistemas embarcados e automação. Atua há anos em projetos de infraestrutura crítica, inteligência artificial e desenvolvimento de dashboards analíticos.</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://linkedin.com/in/goaguiar99">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/GOAguiar99">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:gabriel@itechbridge.com.br">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Na iTechBridge, acreditamos que tecnologia eficiente é a base para negócios de sucesso. Nosso objetivo é conectar empresas a soluções robustas e inovadoras, proporcionando resultados sólidos com desempenho e segurança excepcionais.</p>
            </div>
        </div>
    </div>
</section>
